<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nowa-ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/contact.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand - v1.1.0
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript" src="assets/js/index.js"></script>
  
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">
         <img src="assets/img/05.png" class="img-fluid" alt="">
      </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about_us.html">About</a></li>
         
         
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

   
  <!-- ======= About Section ======= -->
    <section id="contact" class="about section-bg">
      <div class="container" data-aos="fade-up">

       
 <div class="courses-single-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="wrapper">
          <div class="section-header clearfix text-left ">
            <img width="200" height="50" src="assets/img/04.png" class="custom-logo" alt=""
              itemprop="logo">
<!--               <h1 class="contact-title">NOWA</h1>
 -->            <h2 class="heading">Leave A Message</h2>
            <div class="separator mt-4">
            </div>
            <p class="header-text">
            </p>
          </div>
          <div role="form">
            <div class="screen-reader-response">
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name<sup>*</sup></label>
                    <input class="form-control" name="name" id="name" type="text" size="40" aria-required="true"
                      maxlength="100" aria-invalid="false" autocomplete="off" placeholder="First Name"
                      formControlName="sname">
                    <small class="err" *ngIf="
                    contactForm.controls.sname.hasError('required') &&
                    contactForm.controls.sname.touched
                    ">First name required!</small>
                    <small class="err" *ngIf="
                    contactForm.controls.sname.hasError('pattern') &&
                    contactForm.controls.sname.touched
                    ">First name must be valid!</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email<sup>*</sup></label>
                    <input class="form-control" name="mail" id="mail" type="text" size="40" aria-required="true"
                      maxlength="100" aria-invalid="false" placeholder="Email address" autocomplete="off"
                      formControlName="semail">
                    <small class="err" *ngIf="
                    contactForm.controls.semail.hasError('required') &&
                    contactForm.controls.semail.touched
                    ">Email required!</small>
                    <small class="err" *ngIf="
                    contactForm.controls.semail.hasError('pattern') &&
                    contactForm.controls.semail.touched
                    ">Email must be valid!</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Mobile Number<sup>*</sup></label>
                    <input class="form-control" type="text" name="your-phone" value="" size="40" aria-invalid="false"
                      maxlength="14" placeholder="Mobile number" autocomplete="off" formControlName="sphone">
                    <small class="err" *ngIf="
                    contactForm.controls.sphone.hasError('required') &&
                    contactForm.controls.sphone.touched
                    ">Mobile number required!</small>
                    <small class="err" *ngIf="
                    contactForm.controls.sphone.hasError('pattern') &&
                    contactForm.controls.sphone.touched
                    ">Mobile number must be valid!</small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Website</label>
                    <input class="form-control" type="text" name="website" id="website" value="" size="40"
                      maxlength="100" aria-invalid="false" autocomplete="off" placeholder="Your Website"
                      formControlName="sweb">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Comments<sup>*</sup></label>
                    <textarea type="text" class="form-control" name="comment" id="comment" cols="40" rows="5"
                      aria-required="true" aria-invalid="false" placeholder="Write message" autocomplete="off"
                      formControlName="scomment"></textarea>
                    <small class="err" *ngIf="
                    contactForm.controls.scomment.hasError('required') &&
                    contactForm.controls.scomment.touched
                    ">Please enter your comment!</small>
                    <!-- <small class="err" *ngIf="
                    contactForm.controls.scomment.hasError('pattern') &&
                    contactForm.controls.scomment.touched
                    ">First name must be only string!</small> -->
                  </div>
                </div>
              </div>
              <p>
                <button type="submit" class="btn btn-send">
                  Send Message</button>
              </p>
              <div id="msg" class="message"></div>
              <p></p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="addresssection">
          <div class="row clearfix text-left no-hover color-black" style="padding-top: 18px;">
            <div class="col-2 col-md-2 icon-contactus bg-transparent">
              <!-- <i class="featured-icon et-line icon-map bg-transparent" style="color:#5076bb;"></i> -->
              <i class="fa fa-address-card-o address-contact" aria-hidden="true"></i>
            </div>
            <div class="col-10 col-md-10">
              <h3><b>US OFFICE</b></h3>
              <div class="content-container">
                <div class="mt-2 mb-2">
                  8875 Hidden River Pkwy Suite 300, Tampa, FL 33637, United States
                </div>
              </div>
            </div>
          </div>

          <div class="row clearfix text-left no-hover color-black" style="padding-top: 18px;">
            <div class="col-2 col-md-2 icon-contactus bg-transparent">
              <!-- <i class="featured-icon et-line icon-map bg-transparent" style="color:#5076bb;"></i> -->
              <i class="fa fa-address-card-o address-contact" aria-hidden="true"></i>
            </div>
            <div class="col-10 col-md-10">
              <h3><b>COIMBATORE OFFICE</b></h3>
              <div class="content-container">
                <div class="mt-2 mb-2">
                  SM -223, Jain Apartments, Peelamedu, Coimbatore - 641004
                </div>
              </div>
            </div>
          </div>

          <div class="row d-none clearfix text-left no-hover color-black" style="padding-top: 18px;">
            <div class="col-2 col-md-2 icon-contactus bg-transparent">
              <!-- <i class="featured-icon et-line icon-map bg-transparent" style="color:#5076bb;"></i> -->
              <i class="fa fa-address-card-o address-contact" aria-hidden="true"></i>
            </div>
            <div class="col-10 col-md-10">
              <h3><b>HYDERABAD OFFICE</b></h3>
              <div class="content-container">
                <div class="mt-2 mb-2">
                  Office no 401, Manjira Mejistic Commercial, Near JNTU, Kukkatpalli, Hyderabad - 500072
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><img src="assets/img/05.png" class="img-fluid" alt=""></h3>
            <p>
              
              60 Paya Lebar Road<br>
              06-01 Paya Lebar Square 409051 <br>
               Singapore <br><br>
              
              <strong>Email:</strong> &nbsp contact@nowalabs.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about_us.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="privacy.html">Privacy policy</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Stay connected with us</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/nowalabs" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/getstartednowa/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/nowalabs/"  target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
             
              <a href="https://www.linkedin.com/company/nowalabs"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>NOWA</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>