.title-section{
    font-size: 32px;
    padding-bottom: 20px;
}
.textbox-about{
    margin-top:30px;
}
.logo{
    width: 100%;
    margin-top: 100px;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.phone i{
    font-size: 35px !important;
    color: white !important;
    padding: 10px !important;
}
.email i{
    font-size: 27px !important;
    color: white !important;
    padding: 6px !important;
}


  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .flat-about {
        margin: 8px 0 0 0;
    }
    .cta-cr .cta-information .phone, .cta-cr .cta-information .email{
        float: left;
    }
    .logo{

    margin-top: 10px;
}
#footer .footer-top {
    padding: 0px 0 30px 0;
    background: #fff;
}
  }

  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .cta-cr {
        padding: 31px 0;
    }
        .flat-about {
            margin: -30px 0 10px 0 !important;
        }
}


@media only screen and (min-width: 720px) and (max-width: 980px) {
    .cta-cr {
        padding: 31px 0;
    }
}
