.courses-single-page{
    margin-top: 50px;
}
.contact-title{
    color: #39f;
}
sup{
    color:red;
  }

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
/* 03-12-19 */

.checked{
    color: #fbb545;
}
.heading{
    font-size: 20px;
}
.addresssection{
    margin-top: 150px;
}
.courses-single-page .content-page-wrap .item-content .text .student-review {
    font-size: 25px !important;
}

.featured-icon {
    width: 34px;
    height: 34px;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}
.icon-contactus{
    text-align: right;
    margin-top: 20px;
}

.address-contact{
    font-size: 25px;
    /* margin: 0 auto; */
    text-align: center;
    color: #333;
}
.btn-send{
    background-color: #f0c41b;
    font-family: 'Poppins',sans-serif !important;
    color: #fff; 
}

.btn-send:hover{
    background: #ffb922;
    color: #fff; 
}

.custom-logo {
    width: 30%;
    height: 30px;
}
textarea:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid #ffb922;
}

textarea:focus {
  outline: none !important;
}

/* ::-webkit-input-placeholder::after {
    content: "";
color:red;  
} */


@media only screen and (min-width: 320px) and (max-width: 480px) {
    .bg-header{
        height: 520px;
    }
    .addresssection{
        margin-top: 16px;
    }
}

