.checked{
    color: #fbb545;
}

.courses-single-page .content-page-wrap .item-content .text .student-review {
    font-size: 25px !important;
}
.title {
    font-size: 18px;
    line-height: 39px;
    font-weight: 400;
    color: #333;
}
.tab-content{
	margin-top: 30px;
}
ul {
  list-style: <list-style-type> || <list-style-position> || <list-style-image>;
}
ul {
  list-style: square outside none;
}
ul {
  list-style-type: square;
  list-style-position: outside;
  list-style-image: none;
}